@use '@/styles/globals';

.icon-button {
    height: globals.$circle-icon-button-size !important;
    width: globals.$circle-icon-button-size !important;
}

.description {
    gap: globals.$spacing-xs;
}
