@use '@/styles/globals';

.icon-button {
    height: globals.$circle-icon-button-size !important;
    width: globals.$circle-icon-button-size !important;
}

.event-link {
    padding-left: 0;
    padding-right: 0;
}

.notification-container {
    width: 100%;
}

.notification-item {
    cursor: default !important;
    padding: 0 !important;
    margin: 0 !important;
    padding-left: globals.$spacing-xs !important;
}

.notification-item-with-actor {
    cursor: default !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: globals.$spacing-xl !important;
    padding-left: globals.$spacing-xs !important;
}

.notification-tag {
    position: absolute;
    top: -(globals.$spacing-xl);
    left: 0;
    margin-top: globals.$spacing-m;
}

.close-button {
    padding: 0;
    padding-right: globals.$spacing-s;
}

.margin-bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
