@use '@/styles/globals';

.icon-button {
    height: globals.$circle-icon-button-size !important;
    width: globals.$circle-icon-button-size !important;
}

.event-link {
    padding-left: 0;
    padding-right: 0;
}
