@use '@/styles/globals';


.pagination {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: globals.$spacing-regular;
}

.list-item {
    border: 1px solid globals.$border-color-secondary;
    border-radius: globals.$border-radius-lg;
    margin: globals.$spacing-s;
    transition: border-color 0.3s;
    cursor: pointer;

    &:hover {
        border-color: globals.$primary-color-border-hover;
        transition: border-color 0.3s;
    }
}

.ant-list-pagination {
    display: none !important;
}

.requests-inbox {
    margin-left: globals.$spacing-xxl;
    margin-right: globals.$spacing-xxl;
    margin-top: globals.$spacing-xl;
    padding-top: globals.$spacing-s;
}

.welcome-content {
    display: flex;
    justify-content: center;
}

.requests-info {
    padding-left: globals.$spacing-s;
    padding-bottom: globals.$spacing-xs;
}
