@use "@/styles/globals";

//This styling is for drag&drop functionality
.card {
    &[draggable="true"] {
        cursor: grab;

        &:hover {
            box-shadow: var(--ant-box-shadow-tertiary);
        }

        &:active {
            cursor: grabbing;
        }

        // Hide scrollbars during drag
        * {
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &.dragging {
        opacity: 0.6;
        cursor: grabbing;
        box-shadow: var(--ant-box-shadow-secondary);
    }
}
