@import '@/styles/globals';
@import '@/styles/shared';
@import '@/styles/colors';

.dataset-list-container {
    @extend .no-select;
    width: 100%;

    .dataset-list-table {
        width: 100%;
    }
}

.dataset-cell-wrapper {
    width: 100%;
}

.icon {
    color: $color-text;
}

.dataset-title {
    align-items: center;
    justify-content: center;
    gap: $column-gap-sm;
}
