@use '@/styles/globals';

.table-cell-wrapper {
    @include globals.no-select();
    gap: globals.$column-gap-sm;
    align-items: center;
}

.custom-icon {
    margin: auto 0;
    height: globals.$icon-size-table-cell;
    width: globals.$icon-size-table-cell;
    color: globals.$primary-color;

    svg {
        height: globals.$icon-size-table-cell;
        width: globals.$icon-size-table-cell;
    }
}
