@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/styles/colors';

.table-cell-wrapper {
    @include no-select();
    gap: $column-gap-sm;
    align-items: center;
}

.custom-icon {
    margin: auto 0;
    height: $icon-size-table-cell;
    width: $icon-size-table-cell;
    color: $primary-color;

    svg {
        height: $icon-size-table-cell;
        width: $icon-size-table-cell;
    }
}
