@import '@/styles/variables';
@import '@/styles/colors';

$item-card-width: 360px;

.list-item {
    width: 100%;
    background-color: $quaternary-color-fill;
    border: 1px solid $border-color-secondary;
    border-radius: $border-radius-lg;
    padding: unset !important;
    margin-bottom: $spacing-m;
    transition: border-color 0.3s;

    &:hover {
        border-color: $primary-color-border-hover;
        transition: border-color 0.3s;
    }

    .item-card {
        width: 100% !important;
        display: flex;
        align-items: center !important;
        height: 100%;
        padding: $spacing-m $spacing-l;
        min-width: $item-card-width;
    }
}
