@use '@/styles/globals';

$item-card-width: 360px;
$landing-banner-height: 260px;
$landing-banner-gradient: linear-gradient(90deg, rgba(1, 30, 63, 0.3) 0.16%, rgba(3, 79, 165, 0.1) 45.13%);

.pagination {
    padding-bottom: globals.$spacing-m;
}

.requests-info {
    margin-left: globals.$spacing-s;
    padding-bottom: globals.$spacing-xs;
}

.list-item-top-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-item {
    background-color: globals.$quaternary-color-fill;
    border: 1px solid globals.$border-color-secondary;
    border-radius: globals.$border-radius-sm;
    padding: unset !important;
    transition: border-color 0.3s;
    cursor: pointer;

    &:hover {
        border-color: globals.$primary-color-border-hover;
        transition: border-color 0.3s;
    }
    margin: 0;
    margin-bottom: globals.$spacing-regular;
    .item-card {
        height: 100%;
        padding: globals.$spacing-xs;
        padding-left: globals.$spacing-m;
    }
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: globals.$spacing-regular;
}

.ant-list .ant-list-pagination {
    display: none !important;
}

.action-options {
    background: transparent !important;
    border: none !important;
}

.background-image {
    background: url('~@/assets/background/landing-background-green.svg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    flex: 0.4;
    min-height: $landing-banner-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: globals.$spacing-regular;
}

.requests-inbox {
    margin-left: globals.$spacing-xxl;
    margin-right: globals.$spacing-xxl;
    margin-top: globals.$spacing-xl;
    padding-top: globals.$spacing-s;
}

.search-bar {
    width: 50%;
}
