@use '@/styles/globals';

$item-card-width: 360px;
$landing-banner-height: 260px;
$landing-banner-gradient: linear-gradient(90deg, rgba(1, 30, 63, 0.3) 0.16%, rgba(3, 79, 165, 0.1) 45.13%);

.pagination {
    position: static;
    top: 0;
    right: 0;
    padding-right: globals.$spacing-xxl;
    padding-top: globals.$spacing-regular;
    @media (min-width: 1380px) {
        position: absolute;
    }
}

.avatar {
    margin-top: globals.$spacing-s;
    margin-left: globals.$spacing-s;
}

.top-right-column {
    position: relative;
    display: flex;
    padding-bottom: 0;
    width: 100%;
    margin-left: globals.$spacing-xxl;
    padding-right: globals.$spacing-xxl;
}

.action-item {
    position: relative;
    background-color: globals.$quaternary-color-fill;
    border: 1px solid globals.$border-color-secondary;
    border-radius: globals.$border-radius-sm;
    transition: border-color 0.3s;
    cursor: pointer;

    &:hover {
        border-color: globals.$primary-color-border-hover;
        transition: border-color 0.3s;
    }
    margin-bottom: globals.$spacing-regular;
    padding: globals.$spacing-m !important;
}

.tag {
    display: flex;
    gap: globals.$spacing-xs;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-list .ant-list-pagination {
    display: none !important;
}

.requests-inbox {
    margin-left: globals.$spacing-xxl;
    margin-right: globals.$spacing-xxl;
    margin-top: globals.$spacing-xl;
    padding-top: globals.$spacing-s;
}

.welcome-content {
    display: flex;
    justify-content: center;
}

.actions-top-right {
    margin-bottom: auto;
}

.type-indicator {
    height: 100%;
    background-color: globals.$secondary-color-fill;
    padding: globals.$spacing-xs;
    padding-right: globals.$spacing-m;
}

.resolve-button {
    border-radius: 0;
    width: calc((globals.$button-width) / 2 - (globals.$spacing-m) / 2);
}

.requests-info {
    padding-left: globals.$spacing-s;
    padding-bottom: globals.$spacing-xs;
}

.welcome-content {
    display: flex;
    justify-content: center;
}
