@use '@/styles/globals';

$item-card-width: 360px;

.pagination {
    padding-bottom: globals.$spacing-m;
}

.list-item-top-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-item {
    background-color: globals.$quaternary-color-fill;
    border: 1px solid globals.$border-color-secondary;
    border-radius: globals.$border-radius-sm;
    padding: unset !important;
    transition: border-color 0.3s;
    cursor: pointer;

    &:hover {
        border-color: globals.$primary-color-border-hover;
        transition: border-color 0.3s;
    }
    margin: 0;
    margin-bottom: globals.$spacing-regular;
    .item-card {
        height: 100%;
        padding: globals.$spacing-xs;
        padding-left: globals.$spacing-m;
    }
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: globals.$spacing-regular;
}

.ant-list .ant-list-pagination {
    display: none !important;
}

.action-options {
    background: transparent !important;
    border: none !important;
}
