services:
  mailhog:
    image: mailhog/mailhog
    ports:
      - 8025:8025
      - 1025:1025
  backend:
    build: ./backend
    env_file:
      - .env.docker
    depends_on:
      mailhog:
         condition: service_started
      postgresql:
        condition: service_healthy
    command: >
      bash -c "python -m app.db_tool init --force sample_data.sql
      && uvicorn app.main:app --host 0.0.0.0 --port 5050"
    # volumes:
    #   - type: bind
    #     source: ${PWD}/backend/custom_sample_data.sql
    #     target: /sample_data.sql
  frontend:
    build: ./frontend
    volumes:
      - ${PWD:-.}/frontend/config.docker.js:/app/dist/config.js
  postgresql:
    image: bitnami/postgresql:16.6.0
    container_name: data-product-portal-postgresql
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    env_file:
      - .env.docker
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 2s
      timeout: 1s
      retries: 120
  nginx:
    build: ./nginx
    ports:
      - 8080:80
      - 5050:5050
    depends_on:
      - backend
      - frontend
