@use '@/styles/globals';

$tile-size: 72px;
$icon-size: calc(#{$tile-size} / 2);

.radio-button-container {
    align-items: center;
    width: $tile-size;
    min-width: max-content;
}

.radio-button {
    height: $tile-size;
    width: $tile-size;
    padding: globals.$standard-div-padding;
    border-radius: globals.$border-radius-lg;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    svg {
        height: $icon-size;
        width: $icon-size;
    }
}

.label {
    white-space: nowrap;
}
