[tool.poetry]
name = "app"
version = "0.2.11"
description = ""
authors = ["Stijn Janssens <stijn.janssens@dataminded.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
python-dotenv = "^1.0.1"
fastapi = "0.115.11"
gunicorn = "^23.0.0"
uvicorn = "^0.34.0"
pydantic = { version = "^2.10.6", extras = ['email'] }
pydantic-settings = "^2.8.1"
typer = "^0.15.2"
requests = "^2.31.0"
httpx = "^0.28.1"
alembic = "^1.15.1"
sqlalchemy = { version = "^2.0.39", extras = ['asyncio'] }
sqlalchemy-utils = "^0.41.2"
sqlalchemy-easy-softdelete = "^0.8.3"
psycopg2-binary = "^2.9.10"
pyyaml = "^6.0.2"
pyjwt = "^2.10.1"
shortuuid = "^1.0.13"
pytz = "^2025.1"
boto3 = "^1.37.11"
jinja2 = "^3.1.6"
asgi-correlation-id = "^4.3.4"
cryptography = "^44.0.2"
emailgen = "^0.1.1"
casbin = "^1.39.0"
casbin-async-sqlalchemy-adapter = "^1.7.0"
asyncpg = "^0.30.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^8.3.5"
pytest-cov = "^6.0.0"
pytest-dotenv= "^0.5.2"
factory-boy = "^3.3.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
