[tool.poetry]
name = "app"
version = "0.0.1"
description = ""
authors = ["Stijn Janssens <stijn.janssens@dataminded.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "0.115.6"
uvicorn = "^0.34.0"
requests = "^2.31.0"
gunicorn = "^23.0.0"
pydantic = { version = "^2.10.4", extras = ['email'] }
python-dotenv = "^1.0.1"
sqlalchemy = "^2.0.36"
psycopg2-binary = "^2.9.10"
alembic = "^1.14.0"
pyyaml = "^6.0.2"
sqlalchemy-easy-softdelete = "^0.8.3"
typer = "^0.15.1"
sqlalchemy-utils = "^0.41.2"
pyjwt = "^2.10.1"
httpx = "^0.28.1"
shortuuid = "^1.0.13"
pytz = "^2024.2"
boto3 = "^1.35.94"
jinja2 = "^3.1.5"
pydantic-settings = "^2.7.1"
asgi-correlation-id = "^4.3.4"
pytest-cov = "^6.0.0"
cryptography = "^44.0.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^8.3.4"
pytest-dotenv= "^0.5.2"
factory-boy = "^3.3.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
