apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "data-product-portal.fullname" . }}
data:
  POSTGRES_USER: {{ .Values.database.username } }
  POSTGRES_PORT: {{ .Values.database.port }}
  POSTGRES_SERVER: {{ default .Values.database.server }}
  POSTGRES_DB: {{ default .Values.database.dbname }}
  CORS_ALLOWED_ORIGINS: {{ .Values.host }}
  OIDC_AUTHORITY: {{ .Values.oidc.authority }}
  OIDC_REDIRECT_URI: {{ .Values.oidc.redirect_uri }}
  FRONTEND_CONFIG_BASE_URL: {{ .Values.host }}
  {{- if .Values.oidc.enabled }}
  OIDC_ENABLED: "true"
  {{- else }}
  OIDC_ENABLED: "false"
  {{- end }}
  SMTP_HOST: {{ .Values.smtp.host }}
  SMTP_PORT: {{ .Values.smtp.port }}
  {{- if .Values.smtp.no_login}}
  SMTP_NO_LOGIN: "true"
  {{- else }}
  SMTP_NO_LOGIN: "false"
  {{- end }}
  HOST: {{ .Values.host }}
  {{- if .Values.from_mail_address }}
  FROM_MAIL_ADDRESS: {{ .Values.from_mail_address }}
  {{- end }}
  {{- if .Values.email_button_color }}
  EMAIL_BUTTON_COLOR: {{ .Values.email_button_color }}
  {{- end }}
  {{- if .Values.webhook.url }}
  WEBHOOK_URL: {{ .Values.webhook.url }}
  {{- end }}
  NAMESPACE_MAX_LENGTH: {{ .Values.namespace_max_length }}
  {{- if .Values.posthog.enabled }}
  POSTHOG_ENABLED: "true"
  {{- else }}
  POSTHOG_ENABLED: "false"
  {{- end }}
  POSTHOG_API_KEY: {{ .Values.posthog.key }}
  POSTHOG_HOST: {{ .Values.posthog.host }}
  INFRASTRUCTURE_LAMBDA_ARN: {{ .Values.infrastructure_lambda_arn }}
