apiVersion: v1
data:
  POSTGRES_PASSWORD: {{ ternary .Values.global.postgresql.auth.password .Values.database.password .Values.postgres_enabled | quote }}
  POSTGRES_USER: {{ ternary .Values.global.postgresql.auth.username .Values.database.username .Values.postgres_enabled | default .Values.database.username  }}
  POSTGRES_PORT: {{ ternary .Values.global.postgresql.auth.port .Values.database.port .Values.postgres_enabled  | default .Values.database.port }}
  POSTGRES_SERVER: {{ ternary .Values.global.postgresql.auth.server .Values.database.server .Values.postgres_enabled  | default .Values.database.server }}
  POSTGRES_DB: {{ ternary .Values.global.postgresql.auth.database .Values.database.dbname .Values.postgres_enabled  | default .Values.database.dbname }}
  CORS_ALLOWED_ORIGINS: {{ .Values.host }}
  OIDC_CLIENT_ID: {{ .Values.oidc.client_id }}
  OIDC_CLIENT_SECRET: {{ .Values.oidc.client_secret }}
  OIDC_AUTHORITY: {{ .Values.oidc.authority }}
  OIDC_REDIRECT_URI: {{ .Values.oidc.redirect_uri }}
  FRONTEND_CONFIG_BASE_URL: {{ .Values.host }}
  {{- if .Values.oidc.enabled }}
  OIDC_ENABLED: "true"
  {{- else }}
  OIDC_ENABLED: "false"
  {{- end }}
  CONVEYOR_API_KEY: {{ .Values.conveyor.api_key }}
  CONVEYOR_SECRET: {{ .Values.conveyor.secret }}
  {{- if .Values.api_key.enabled }}
  PORTAL_API_KEY: {{ .Values.api_key.key }}
  {{- end }}
  INFRASTRUCTURE_LAMBDA_ARN: {{ .Values.infrastructure_lambda_arn }}
  SMTP_HOST:  {{ .Values.smtp.host }}
  SMTP_PORT: {{ .Values.smtp.port }}
  SMTP_USERNAME: {{ .Values.smtp.username }}
  SMTP_PASSWORD: {{ .Values.smtp.password }}
  SMTP_NO_LOGIN: {{ .Values.smtp.no_login}}
  HOST: {{ .Values.host }}
  {{- if .Values.from_mail_address }}
  FROM_MAIL_ADDRESS: {{ .Values.from_mail_address }}
  {{- end }}
kind: ConfigMap
metadata:
  name: {{ include "data-product-portal.fullname" . }}
