// Blue
$blue-1: var(--ant-blue-1);
$blue-2: var(--ant-blue-2);
$blue-3: var(--ant-blue-3);
$blue-4: var(--ant-blue-4);
$blue-5: var(--ant-blue-5);
$blue-6: var(--ant-blue-6);
$blue-7: var(--ant-blue-7);
$blue-8: var(--ant-blue-8);
$blue-9: var(--ant-blue-9);
$blue-10: var(--ant-blue-10);

// Green
$green-1: var(--ant-green-1);
$green-2: var(--ant-green-2);
$green-3: var(--ant-green-3);
$green-4: var(--ant-green-4);
$green-5: var(--ant-green-5);
$green-6: var(--ant-green-6);
$green-7: var(--ant-green-7);
$green-8: var(--ant-green-8);
$green-9: var(--ant-green-9);
$green-10: var(--ant-green-10);

// Red
$red-1: var(--ant-red-1);
$red-2: var(--ant-red-2);
$red-3: var(--ant-red-3);
$red-4: var(--ant-red-4);
$red-5: var(--ant-red-5);
$red-6: var(--ant-red-6);
$red-7: var(--ant-red-7);
$red-8: var(--ant-red-8);
$red-9: var(--ant-red-9);
$red-10: var(--ant-red-10);

// Orange
$orange-1: var(--ant-orange-1);
$orange-2: var(--ant-orange-2);
$orange-3: var(--ant-orange-3);
$orange-4: var(--ant-orange-4);
$orange-5: var(--ant-orange-5);
$orange-6: var(--ant-orange-6);
$orange-7: var(--ant-orange-7);
$orange-8: var(--ant-orange-8);
$orange-9: var(--ant-orange-9);
$orange-10: var(--ant-orange-10);

// Yellow
$yellow-1: var(--ant-yellow-1);
$yellow-2: var(--ant-yellow-2);
$yellow-3: var(--ant-yellow-3);
$yellow-4: var(--ant-yellow-4);
$yellow-5: var(--ant-yellow-5);
$yellow-6: var(--ant-yellow-6);
$yellow-7: var(--ant-yellow-7);
$yellow-8: var(--ant-yellow-8);
$yellow-9: var(--ant-yellow-9);
$yellow-10: var(--ant-yellow-10);

// Purple
$purple-1: var(--ant-purple-1);
$purple-2: var(--ant-purple-2);
$purple-3: var(--ant-purple-3);
$purple-4: var(--ant-purple-4);
$purple-5: var(--ant-purple-5);
$purple-6: var(--ant-purple-6);
$purple-7: var(--ant-purple-7);
$purple-8: var(--ant-purple-8);
$purple-9: var(--ant-purple-9);
$purple-10: var(--ant-purple-10);

// Cyan
$cyan-1: var(--ant-cyan-1);
$cyan-2: var(--ant-cyan-2);
$cyan-3: var(--ant-cyan-3);
$cyan-4: var(--ant-cyan-4);
$cyan-5: var(--ant-cyan-5);
$cyan-6: var(--ant-cyan-6);
$cyan-7: var(--ant-cyan-7);
$cyan-8: var(--ant-cyan-8);
$cyan-9: var(--ant-cyan-9);
$cyan-10: var(--ant-cyan-10);

// Magenta
$magenta-1: var(--ant-magenta-1);
$magenta-2: var(--ant-magenta-2);
$magenta-3: var(--ant-magenta-3);
$magenta-4: var(--ant-magenta-4);
$magenta-5: var(--ant-magenta-5);
$magenta-6: var(--ant-magenta-6);
$magenta-7: var(--ant-magenta-7);
$magenta-8: var(--ant-magenta-8);
$magenta-9: var(--ant-magenta-9);
$magenta-10: var(--ant-magenta-10);

// Other
$secondary-color-fill: var(--ant-color-fill-secondary);
$tertiary-color-fill: var(--ant-color-text-tertiary);
$quaternary-color-fill: var(--ant-color-fill-quaternary);

// Primary
$primary-color: var(--ant-color-primary);
$primary-color-bg: var(--ant-color-primary-bg);
$primary-color-bg-hover: var(--ant-color-primary-bg-hover);
$primary-color-border: var(--ant-color-primary-border);
$primary-color-border-hover: var(--ant-color-primary-border-hover);
$primary-color-hover: var(--ant-color-primary-hover);
$primary-color-active: var(--ant-color-primary-active);
$primary-color-text: var(--ant-color-primary-text);
$primary-color-text-hover: var(--ant-color-primary-text-hover);
$primary-color-text-active: var(--ant-color-primary-text-active);

// Success
$success-color: var(--ant-color-success);
$success-color-bg: var(--ant-color-success-bg);
$success-color-bg-hover: var(--ant-color-success-bg-hover);
$success-color-border: var(--ant-color-success-border);
$success-color-border-hover: var(--ant-color-success-border-hover);
$success-color-hover: var(--ant-color-success-hover);
$success-color-active: var(--ant-color-success-active);
$success-color-text: var(--ant-color-success-text);
$success-color-text-hover: var(--ant-color-success-text-hover);
$success-color-text-active: var(--ant-color-success-text-active);

// Warning
$warning-color: var(--ant-color-warning);
$warning-color-bg: var(--ant-color-warning-bg);
$warning-color-bg-hover: var(--ant-color-warning-bg-hover);
$warning-color-border: var(--ant-color-warning-border);
$warning-color-border-hover: var(--ant-color-warning-border-hover);
$warning-color-hover: var(--ant-color-warning-hover);
$warning-color-active: var(--ant-color-warning-active);
$warning-color-text: var(--ant-color-warning-text);
$warning-color-text-hover: var(--ant-color-warning-text-hover);
$warning-color-text-active: var(--ant-color-warning-text-active);

// Error
$error-color: var(--ant-color-error);
$error-color-bg: var(--ant-color-error-bg);
$error-color-bg-hover: var(--ant-color-error-bg-hover);
$error-color-border: var(--ant-color-error-border);
$error-color-border-hover: var(--ant-color-error-border-hover);
$error-color-hover: var(--ant-color-error-hover);
$error-color-active: var(--ant-color-error-active);
$error-color-text: var(--ant-color-error-text);
$error-color-text-hover: var(--ant-color-error-text-hover);
$error-color-text-active: var(--ant-color-error-text-active);
$error-color-outline: var(--ant-color-error-outline);

// Info
$info-color: var(--ant-color-info);
$info-color-bg: var(--ant-color-info-bg);
$info-color-bg-hover: var(--ant-color-info-bg-hover);
$info-color-border: var(--ant-color-info-border);
$info-color-border-hover: var(--ant-color-info-border-hover);
$info-color-hover: var(--ant-color-info-hover);
$info-color-active: var(--ant-color-info-active);
$info-color-text: var(--ant-color-info-text);
$info-color-text-hover: var(--ant-color-info-text-hover);
$info-color-text-active: var(--ant-color-info-text-active);

// Border
$border-color: var(--ant-color-border);
$border-color-secondary: var(--ant-color-border-secondary);
$border-color-bg: var(--ant-color-border-bg);

// background
$background-color-container: var(--ant-color-bg-container);

// Breadcrumb
$breadcrumb-link-color: var(--ant-breadcrumb-link-color);
$breadcrumb-last-item-color: var(--ant-breadcrumb-last-item-color);

// Base
$color-text: var(--ant-color-text);
$base-text-color: var(--ant-color-text-base);
$base-text-bg-base: var(--ant-color-bg-base);
$color-white: var(--ant-color-white);
