@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/SF-Pro-Text-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/SF-Pro-Text-Semibold.woff2') format('woff');
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/SF-Pro-Text-Bold.woff2') format('woff');
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/SF-Pro-Text-RegularItalic.woff2') format('woff');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/neue-haas-display-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/neue-haas-display-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/neue-haas-display-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/neue-haas-display-italic.ttf') format('truetype');
}
