@import '@/styles/colors';
@import '@/styles/variables';
@import '@/styles/globals';

.actions-container {
    gap: $column-gap-xl;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.access-data-container {
    gap: $column-gap-sm;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}
