@import '@/styles/globals';
@import '@/styles/variables';

.user-avatar-container {
    gap: $column-gap-regular;
    align-items: center;
}

.avatar {
    width: $nav-avatar-size;
    min-width: $nav-avatar-size;
    height: $nav-avatar-size;
    min-height: $nav-avatar-size;
}

.user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $column-gap-xxs;
}
