@import '@/styles/variables';
@import '@/styles/shared';

.search-field-wrapper {
    margin-bottom: 0 !important;
}

.list {
    height: 100%;
    flex: 1;
    max-height: $modal-content-max-height;
    overflow: auto;
}
