@use '@/styles/globals' ;

$button-width: 100px;
$icon-size: 65px;

.radio-button-container {
    align-items: center;
    gap: globals.$column-gap-badge;
}

.radio-button {
    height: 100%;
    min-height: $button-width;
    width: $button-width;
    padding: globals.$standard-div-padding;
    border-radius: globals.$border-radius-lg;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper {
    height: 100%;
    min-height: $icon-size;
    min-width: $icon-size;
    width: 100%;
    align-items: center;
    justify-content: center;
}
