@use '@/styles/globals';

.sqlCode {
    margin: 0;
    width: 100%;
    max-height: 220px;
    overflow: hidden;
    background: var(--color-neutral-2, #f5f5f5);
    padding: globals.$spacing-m;
    border-radius: globals.$border-radius-sm;
    font-family: globals.$font-family-mono;
    white-space: pre-wrap;
}

.sqlCodeExpanded {
    max-height: none;
}
