@use '@/styles/globals';

.container {
    @extend .container;

    display: flex;
    flex-direction: column;
    gap: globals.$spacing-l;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: globals.$spacing-m;
}

.filter-group {
    min-width: 200px;
    display: flex;
    gap: globals.$spacing-l;
}

.charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.chart-card {
    height: 100%;
}
