@import '@/styles/globals';
@import '@/styles/colors';
@import '@/styles/variables';

$node-wrapper-min-height: 500px;
$node-wrapper-min-width: 500px;
.node-wrapper {
    height: 100%;
    width: 100%;
    min-height: $node-wrapper-min-height;
    min-width: $node-wrapper-min-width;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}
