@use '@/styles/globals';

$logo-width: 6rem;

.resultContainer {
    @include globals.no-select();
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .result {
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.watermark {
    height: 100%;
    width: 100%;
}
