@import '@/styles/globals';
@import '@/styles/variables';

.dataset-container {
    @extend .container;
    gap: $column-gap-xl;
}

.dataset-header-container {
    width: 100%;
    justify-content: space-between;
}

.dataset-header {
    margin-bottom: $spacing-l;
    gap: $column-gap-regular;
    align-items: center;

    .dataset-icon {
        width: $icon-size-ml;
        height: $icon-size-ml;
    }

    h3 {
        margin: 0;
        text-wrap: avoid;
        white-space: nowrap;
    }
}

.dataset-content {
    @extend .container;

    .dataset-overview {
        flex: 1;
        gap: $column-gap-regular;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.sidebar {
    flex: 0.3;
    min-width: $min-sidebar-width;
    gap: $column-gap-xl;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-content {
    flex: 1;
    gap: $column-gap-xl;
}

.actions-container {
    width: 100%;
    gap: $column-gap-sm;
}

.sectionWrapper {
    gap: $column-gap-regular;
}
