@use '@/styles/globals' ;

.logo-text {
    @include globals.no-select();
    cursor: pointer;
    color: globals.$blue-1 !important;
    font-weight: globals.$font-weight-bolder;

    &.dark {
        color: globals.$primary-color !important;
    }
}
