@use '@/styles/globals' ;

.layout-content {
    position: relative;
    overflow: initial;
    height: 100%;
}

.layout-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    min-width: globals.$app-min-width;
}

.children-wrapper {
    height: 100%;
    overflow-x: auto;
    padding: globals.$container-padding-large;
    background: globals.$background-color-container;
    border-radius: globals.$border-radius-lg;

    &.layout-content-home {
        padding: unset;
        border-radius: unset;
    }
}
