@use '@/styles/globals';

.sidebarContainer {
    width: 24em;
    background-color: globals.$quaternary-color-fill;
    border: solid 1px globals.$primary-color;
    border-radius: globals.$border-radius;
    padding: 1em;
}
