@use '@/styles/globals';

.radioDropdownButton {
  padding: 0;
  box-shadow: none;
}

.dropdownButton {
  height: 100%;
}

.dropdownButtonSelected {
  color: globals.$color-white;
  border-color: globals.$primary-color;
}

.dropdownSelected {
  color: globals.$color-white;
}

.dropdownSelectedBg {
  background: globals.$primary-color !important;
}
