@use '@/styles/globals';

.marketplace-page-container {
    @extend .container;
    display: 'flex';
    margin: -(globals.$spacing-m);
}
.marketplace-card-container {
    margin: globals.$spacing-m;
    width: 360px;
}
