@use '@/styles/globals' ;

.container {
    width: 100%;
    gap: globals.$column-gap-regular;
    min-width: globals.$button-large-width;
}

.section-wrapper {
    gap: globals.$column-gap-regular;
}

.user-avatar-list {
    gap: globals.$avatar-list-gap;
}
