@use '@/styles/globals';

.search-field-wrapper {
    margin-bottom: 0 !important;
}

.user-list {
    max-height: globals.$modal-content-max-height;
    overflow: auto;
}

.user-name {
    font-weight: globals.$font-weight-normal;
}

.roleDropdown {
    width: 40%;
    white-space: normal;
    .ant-select-selection-item {
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
    }
    .ant-select-dropdown {
        white-space: normal;
    }
}
