@use '@/styles/globals' ;

.search-field-wrapper {
    margin-bottom: 0 !important;
}

.user-list {
    max-height: globals.$modal-content-max-height;
    overflow: auto;
}

.user-name {
    font-weight: globals.$font-weight-normal;
}
