@import '@/styles/variables';

.container {
    text-align: start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: $column-gap-m;

    h1 {
        margin-bottom: 0;
    }
}
