@use '@/styles/globals';

.data-output-container {
    @extend .container;
    gap: globals.$column-gap-xl;
}

.header-container {
    width: 100%;
    justify-content: space-between;
}

.edit-icon {
    align-items: flex-start;
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: globals.$spacing-l;
    gap: globals.$column-gap-regular;

    h3 {
        margin: 0;
        text-wrap: avoid;
    }
}

.content {
    @extend .container;

    .overview {
        flex: 1;
        gap: globals.$column-gap-regular;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.sidebar {
    flex: 0.3;
    min-width: globals.$min-sidebar-width;
    gap: globals.$column-gap-xl;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-content {
    flex: 1;
    gap: globals.$column-gap-xl;
}
