@use '@/styles/globals';

.sidebar-wrapper {
    overflow: auto;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;

    .sidebar-content {
        gap: globals.$column-gap-m;
    }
}

.iconWrapper {
    height: globals.$navbar-height;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: globals.$column-gap-xs;
}

.logoContainer {
    align-items: center;
    justify-content: center;
}

.logoWrapper {
    height: globals.$navbar-height;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: globals.$column-gap-sm;
    font-size: globals.$font-size-sm;
    width: 100%;
}

.sub-menu-title {
    font-size: globals.$font-header-6;
}

.version,
.version:hover {
    color: globals.$blue-1;
}
