@use '@/styles/globals';

.container {
    width: 100%;
    max-width: globals.$modal-max-width;

    .form-modal-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: globals.$modal-content-min-height;
        padding: globals.$modal-padding;
    }

    .form-modal-header {
        margin-bottom: globals.$modal-gap-header;
    }

    .form-modal-body {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: globals.$column-gap-regular;
        flex: 1;
    }
}
