@use '@/styles/globals';

.logo-text {
    @include globals.no-select();
    cursor: pointer;
    color: globals.$blue-1;
    font-weight: globals.$font-weight-bold;
    line-height: unset;

    &.dark {
        color: globals.$primary-color;
    }
}

.logo {
    width: 80%;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: globals.$column-gap-sm;
}
