@import '@/styles/mixins';
@import '@/styles/variables';
@import '@/styles/colors';

.header {
    height: $navbar-height;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0;
    border-bottom: 1px solid $border-color;

    .header-content {
        height: 100%;
        width: 100%;
        padding: 0 $spacing-l;
        justify-content: space-between;
    }
}

.header-actions-wrapper {
    gap: $column-gap-sm;
}
