@use '@/styles/globals';

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    margin-bottom: 16px;
}

.leftContent {
    flex: 1;
    margin-right: 16px;
}

.rightContent {
    text-align: right;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.actor {
    font-weight: 500;
    color: #595959;
}

.timestamp {
    font-size: 12px;
    color: #8c8c8c;
}
