@use '@/styles/globals';

.user-menu-container {
    align-items: center;
    gap: globals.$column-gap-m;
}

.avatar-wrapper {
    align-items: center;
    gap: globals.$column-gap-sm;

    .avatar {
        height: globals.$nav-avatar-size;
        width: globals.$nav-avatar-size;
    }

    span {
        @include globals.no-select();
    }

    .user-greeting {
        font-size: globals.$font-header-4;
        font-weight: globals.$font-weight-bold;
    }
}
