@use '@/styles/globals';

$node-width: 80px;
$node-height: 50px;

.node-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: $node-width;
    height: $node-height;
    justify-content: center;
}

.node-wrapper {
    color: red;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.node-label {
    text-align: center;
    width: 100%;
    max-width: $node-width;
    font-size: globals.$font-size-sm;
    margin-bottom: 0 !important;
}
