@import '@/styles/variables';
@import '@/styles/shared';

.search-field-wrapper {
    margin-bottom: 0 !important;
}

.data-output-list {
    max-height: $modal-content-max-height;
    overflow: auto;
}

.data-output-name {
    font-weight: $font-weight-normal;
}

.data-output-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
