@use '@/styles/globals';

.current {
    font-weight: 600;
    text-decoration: none;
    cursor: default;
    color: globals.$breadcrumb-last-item-color;

    &:hover {
        color: #000;
    }
}

.breadcrumb-wrapper {
    gap: globals.$column-gap-sm;
    max-width: 100%;
}

.link-container {
    color: globals.$breadcrumb-link-color;
    align-items: center;
    justify-content: center;
    gap: globals.$column-gap-sm;
}

.link {
    display: flex !important;
}
