name: CLI build and release

on:
  push:
    tags:
      - "*"

permissions:
  contents: read

jobs:
  prep-version:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Get Previous tag
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@04e8485ecb6487243907e330d522ff60f02283ce" # v1.4.0
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: Set new version env
        env:
           TAG: ${{ steps.previoustag.outputs.tag }}
        run: |
          echo "TAG=${TAG#v}" >> $GITHUB_ENV
          echo "APP_VERSION=$(cat VERSION)" >> $GITHUB_ENV
      - name: Check Version Update
        id: versionupdate
        if: ${{ env.TAG != env.APP_VERSION }}
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
              core.setFailed('VERSION is not the latest tag, did you do a version bump?')
    outputs:
      version: ${{ env.APP_VERSION }}
  cli:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    needs: ["prep-version"]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: cli/go.mod
          cache-dependency-path: cli/go.sum
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
          workdir: cli
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload assets
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: Data product portal CLI
          path: dist/*
