name: Tests
on:
  pull_request:
    branches: ['*']
permissions:
  contents: read

jobs:
  environment:
    runs-on: ubuntu-latest
    outputs:
      POSTGRES_PASSWORD: ${{ steps.out.outputs.POSTGRES_PASSWORD }}
      POSTGRES_USER: ${{ steps.out.outputs.POSTGRES_USER }}
      POSTGRES_DB: ${{ steps.out.outputs.POSTGRES_DB }}
      POSTGRES_PORT: ${{ steps.out.outputs.POSTGRES_PORT }}
      POSTGRES_SERVER: ${{ steps.out.outputs.POSTGRES_SERVER }}
    steps:
      - name: Checkout github repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set test environment variables as outputs
        id: out
        working-directory: ./backend
        run: cat .test.env >> $GITHUB_OUTPUT

  test:
    runs-on: ubuntu-latest
    needs: [environment]
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: ${{ needs.environment.outputs.POSTGRES_PASSWORD }}
          POSTGRES_PORT: ${{ needs.environment.outputs.POSTGRES_PORT }}
          POSTGRES_SERVER: ${{ needs.environment.outputs.POSTGRES_SERVER }}
          POSTGRES_DB: ${{ needs.environment.outputs.POSTGRES_DB }}
          POSTGRES_USER: ${{ needs.environment.outputs.POSTGRES_USER }}
        options: >-
          --health-cmd pg_isready
          --health-interval 2s
          --health-timeout 2s
          --health-retries 25
        ports:
          - ${{ needs.environment.outputs.POSTGRES_PORT }}:5432
    steps:
      - name: Checkout github repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: "3.12"

      - name: Run image
        uses: abatilo/actions-poetry@3765cf608f2d4a72178a9fc5b918668e542b89b1 # v4.0.0
        with:
          poetry-version: "1.8.2"

      - name: Setup a local virtual environment (if no poetry.toml file)
        run: |
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local

      - uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        name: Define a cache for the virtual environment based on the dependencies lock file
        with:
          path: ./.venv
          key: venv-${{ hashFiles('poetry.lock') }}

      - name: Install dependencies
        working-directory: ./backend
        run: poetry install --with test

      - name: Run the automated tests
        working-directory: ./backend
        run: poetry run pytest -v

  lint-golang:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
    name: Run Go linters
    if: ${{ github.actor != 'dependabot[bot]' || contains(github.head_ref, 'dependabot/go_modules')}}
    runs-on: ubuntu-22.04
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: cli/go.mod
          cache-dependency-path: cli/go.sum
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@2226d7cb06a077cd73e56eedd38eecad18e5d837 # v6.5.0
        with:
          args: --timeout 15m0s
          working-directory: cli

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Setup Python
      uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
      with:
        python-version: "3.12"
    - name: Setup Node.js
      uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
      with:
        node-version-file: frontend/package.json
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json
    - name: Cache npm dependencies
      uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
      with:
        path: ~/.npm
        key: npm-${{ hashFiles('package-lock.json') }}
        restore-keys: npm-
    - name: Install npm dependencies
      run: npm ci --ignore-scripts
    - name: Run pre-commit
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
